<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
 <header class="header">
   <div class="header__text-box">
     <h1 class="heading-primary">
       <span class="heading-primary--main">SAZ</span>
       <span class="heading-primary--sub">Magazyn</span>
     </h1>
     <a href="/magazyn" class="btn btn--white btn--animated">Pokaż Magazyn</a>
   </div>
 </header>
</body>

</html>
